# Qt build files
build/
*.pro.user
*.qmake.stash
*.qmake.cache
*.moc/
*.obj/
*.o
*.a
*.so
*.dll
*.exe
*.app
*.dSYM/
*.user
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.vs/
*.vscode/
*.idea/
*.ipch/
*.pch
*.sdf
*.opensdf
*.tlog
*.db
*.pyc
*.pyo
*.pyd
*.coverage
*.gcov
*.gcda
*.gcno
*.cproject
*.project
*.settings/
CMakeLists.txt.user 